body{
  background-color: slategray;
  text-align: center; 
}

h1{
  color:lightblue;
  font-family: Apple Chancery, cursive;
  position:relative;
}
ul{
  position:relative;
  left:-850px;
  background-color:orange;
  padding:20px;
}
a{
    background-color:seagreen;
    border-radius:20px;
    font-size:20px;
    padding:20px;
    color:white;
    text-decoration: none;
    font-family:Apple Chancery, cursive;
}
a:hover{
    background-color: black;
    border:2px dashed seagreen;
}
img{
  position: relative;
  top:10px; 
  left: 200;
  border: 1px ridge;
  border-color: lightblue;
}
